In [1]:
import requests
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv('images.csv')
df.head()

,img_link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,55
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,55
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,55
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,55

### Defining Dynamic Name

In [9]:
ref = 10000
for i in range(1,10):
    print('A' + str(i + ref)[1:])

A0001
A0002
A0003
A0004
A0005
A0006
A0007
A0008
A0009

### Defining Image Downloader Function

In [11]:
df['img_link'][0]

'https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884__480.jpg'

In [13]:
def download(link, img_path ):

    res = requests.get(link)         # Sending the Request
    fd = open(img_path,'wb')         # Getting Image in WB Format
    fd.write(res.content)            # Saving the Image
    fd.close()

In [14]:
download('https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884__480.jpg', 'img.png')

### Downloading all Images

In [16]:
paths   = []
img_ids = []

ref = 100000
i   = 1

for link in tqdm(df['img_link']):
    
    img_id = 'A' + str(i + ref)[1:]          # Creating Image ID
    i += 1
    
    img_path = 'Imgs/' + img_id + '.jpg'    # Creating Image Path
    
    download(link, img_path)                # Downloading the Image
    
    paths.append(img_path)
    img_ids.append(img_id)

100%|██████████████████████████████████████████████████████████████████████████████| 1635/1635 [07:26<00:00,  3.66it/s]

### Saving Ids and Paths in DataFrame

In [17]:
df['img_id']   = img_ids
df['img_path'] = paths

df.head()

,img_link,tags,likes,comments,img_id,img_path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55,A00001,Imgs/A00001.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,55,A00002,Imgs/A00002.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,55,A00003,Imgs/A00003.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,55,A00004,Imgs/A00004.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,55,A00005,Imgs/A00005.jpg

In [19]:
df.isna().sum()

img_link    0
tags        0
likes       0
comments    0
img_id      0
img_path    0
dtype: int64

### Saving Final Dataset